<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="D:\Training\HTML\project\WebPage_Html\style\contact.css">
</head>
<body>
    <header>
        <h1>Contact</h1>
    </header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="projects.html">My Projects</a>
        <a href="contact.html">Contact</a>
    </nav>
    <div class="container">
        <br>
        <img src="D:\Training\HTML\project\WebPage_Html\image\contact_us.webp" alt="Image" class="right-image">
        <div class="content">
            <h2>My Contact Imformation</h2>
            <p>Rina Kasar</p>
            <p>Mobile Number : 9527746611</p>
            <p>Email : <a href="mailto:dhablerina98@gmail.com">dhablerina98@gmail.com</a></p>
            <p>Project link : <a href="https://github.com">github.com</a></p>
            <p>Adress : Dighi, Dattanagar, Pune, Maharashtra</p>
        </div>
    </div>
</body>
</html>