<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="D:\Training\HTML\project\WebPage_Html\style\style.css">
</head>
<body>
    <header>
        <h1>My Projects</h1>
    </header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="projects.html">My Projects</a>
        <a href="contact.html">Contact</a>
    </nav>
    <h2>My Project List : </h2>
    <li>Work Instruction Display</li>
    <li>Pick To Light</li>
    <li><a href="https://github.com/rina-kasar/WebPage_Html.git">WebPage_Html</a></li>
    
</body>
</html>